[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Kanatest
Exec=/usr/bin/kanatest
Icon=kanatest
X-Window-Icon=kanatest
X-Window-Icon-Dimmed=kanatest
X-Osso-Service=org.clayo.kanatest
X-Osso-Type=application/x-executable
X-HildonDesk-ShowInToolbar=true
