Source: kanatest
Section: user/education
Priority: extra
Maintainer: Aki Nyman <aki.nyman@gmail.com>
XSBC-Original-Maintainer: Tomasz Maka <pasp@users.sourceforge.net>, Debian Games Team <pkg-games-devel@lists.alioth.debian.org>
Build-Depends: debhelper (>= 5.0), libgtk2.0-dev (>= 2.0), libxml2-dev, gettext, autotools-dev,
 conbtdialogs-dev, libgconf2-dev, libosso-gnomevfs2-dev, libglib2.0-dev, osso-af-settings, libhildon1-dev, 
 libcairo2-dev, libosso-dev, libhildonfm2-dev
Standards-Version: 3.7.2
Homepage: http://clayo.org/kanatest/

Package: kanatest
Architecture: any
Depends: ${shlibs:Depends}
Description: beginner's drill game to learn Japanese kana characters
 Kanatest is a simple hiragana and katakana drill game. It checks your
 knowledge of Japanese kana characters.
 .
 There are three drill modes: hiragana mode (hiragana charset only), katakana
 mode (katakana charset only) and mixed mode (both charsets). The tester shows
 random kana characters and waits until you enter the romaji equivalent in an
 entry field. At the end, statistics are provided.
XB-Maemo-Display-Name: kanatest
XSBC-Bugtracker: mailto:aki.nyman@gmail.com
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABmJLR0QAmQB0
 AFlkGtfCAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH1gsBFQI2IL6V
 ZgAAAB10RVh0Q29tbWVudABDcmVhdGVkIHdpdGggVGhlIEdJTVDvZCVuAAAQ
 VElEQVRo3u2ZWaxdV3nHf99ae599hnvOnSc7nuJ4iB2TqQkJARogpYQh0IGh
 VQtqqSqVVm0f2odKVfvSPvSpAtRBHUGIpiWFMJQkBJrgxCGThzixsWPH9rV9
 J9t3Hs45e++11teHfWxCSIhdQK2qLulIR+vce/Y3/P/f8D/w/+d/9siP+wsn
 nvy08ep/q3X+pSEj8XoRMVFSQSQgVsCUMVGC2BIotFYXWJgex8YJLm0j1uKz
 lLzdOvbm377vz1/vedGP0/jxZ/7+PU7lsxKa/Un3MCaKQQTBoqKF4SZBjCBR
 hZC1iRW6BqG9vECUQPAOl7bx3s3dvL7yF/vOtNxP3IGp5+9bF4K7L3f+jZKv
 gHdIVAUbISYC1cIZwCR1NG/h2qugio3K1PpG8HmGz9p4l4MIPhCXE3nTrRur
 +58Za678RByYfuELRlU+6TV8Im3OG2MixDdRADFIlCBiUfWIWDAGzVeRqIIV
 IeQpxsY4l5FUa6TqsZlFvcfleRSbaKtNNNy+qfLEk6da+mN1YPLA59/rcv/Z
 1vL5vjxfpVztwfhmQSsxQAEHY0BVCZpjpciC+gz1HWTYGPEOG8VUG71kzRXE
 WkApxabsnBuUJIqA/MfiwPnDX9oZQvj35vLc9sXpo4gI9aHNRPjCOBHExoAW
 8EEQAUFBDKoeYyLQgAigHrElvPOIBBoDw+TtVXR5WYw1kQ3Wqg/yI0Po3OEv
 xcGnf51nrV9fmDpuVmbPEicVutdeR2R8YZCJEDGIjRAEjEU1oMF1jA8QAlhB
 KO7zdhOJSthSmebCDHFs6BkeZWFmlsiowSKI/kgkljPP/PMH8vbK36Src8Nz
 ky+SrixQrvXQveY64tigLi9g0zFcTAQiqO/cF/EHDMG1CdpEAJ+lqALBk7dW
 QHPEVCBAuauKGMQYI4j/72Vg6sBn1ro8/G3aWnxPtjIjKzPj5O1VyvU+utde
 R6VWx6ULiI0wtoTYAhqqipi4E3lBjCkiD5i4ivoUk3SBjQhpkxA8tpTQWp6j
 vTSHBo9rtzFiBBsILtYrduCLn/z47x06+MKfOtVefMpoT4RqoNwYoGtkK7VG
 Pz5d4PT4Bc7NLLFu7QijIwNYAxo8Ig5bqqGqBWlxiBSENlGCBocxBimVIW/h
 U0e5ViPEBpelVF1+WVF+1c/+6o8/8LFWu/WXta6K+GCZW2ixsBTYMlKh0ruW
 WvcQhBYiwvrRPtIs5zNf+Cb9PXU+9qG7qNVqSFRCjEV9hrEJKgUfbKkCKCFf
 RoOgGhAR4qSM4HHBE3zhrDEgAVzM5UNox+ZhCRr+IEkiabVTVttKFMW44LFJ
 g3r/OnArYEuYuIwYwzUb11IpxywureB8DgSMKUgrdIy0EZq18dkyIkJBioBo
 Bx1GiEolrFGsgay9WlQ1g2jQy4dQbEX6u0ql7lpCqVqnW0ogFh+U2tBa0HaB
 dWOLsJgYrMF5w65rN1ArR0XFCR4Rg6JIh9AaHGI6wTQGggf8Jd4gBgRUfcGf
 yzg/4MDWTYMy0FNxg711klo3OYYsV6q1OkkcQQioBMQUlUXiCi5vk3tl+9bN
 2LiKiCHLHXsPHieyhq2bhqnXKpgoKvpDx0ElFM6KFFWrQ3RUUcBYQyjuLh9C
 668alkZX2cWxQUQpxTFJpUS1XObE6Sm6amWGB3swYgh5CxuVmF9cxVjL2rWj
 XJhd4NipKQ4cHmNhcYXe7hp99YSeRhfgOmUzB9Xi9TKjQVHvUQ2Ei50aC7jL
 h9BgX10jo4gECBlWY0pxjBIYGmjwxQefZdf29fT2dANC7s9x7MQ4GgL/eO9D
 5FlGX0+d66/bzOZ1g6wZ6SMypog2FsETOsaiocjIxRiHIvIihg5JrhxCfd0V
 jZNYVQPWxkQ2QkQxNqbRiHjXnTfw4KMHCCFQrVbo7iqzsLjKyHA/H7znTqoJ
 JHGMieKikRUh/55BL+ejdJChHQ+MoCjhUgN8/b3lBxyoJQIaxGCwUUQUR6iR
 4sHGMtLfxcc/8naMMSDF0PXAIwfIA/Q2KhAcIoLLUqy1ReRVCxMuRv7ldr3M
 NAVEpSD092fg8iFUio0ixpSSClGpBMZgkCKtGiCKASEoGGPR4FhtpgwP9hY2
 diK39+Bxjp2coLe7xm03baW/t96x2WJM6EC/Y5d0giEGjEEkQsPlQci88uKD
 v/85jcQaJeBdWpQ+MYi1iEjRPW1U1HIUEUurndHTXUPVFUTUwK03beNnf/p6
 Dhw6wb1ffozllVbHaAMSF4OfsaCmKMVRGRM3kLiKSiBP04LA9gohBBCXEwse
 UcFIhBBAfSfjWmBX4uLORKSZo1otc2F2iVOnpzgzcZ7Z+SVUwblAO3X829ee
 oNVKqVTKrF8zwLVb17F2tA8Rj7FlQr6CEgguw+euw4kOfYj0+q3but/21luv
 3nXt1cP7Dx67+ql9hx6LYg6/qgOqITMSY6wtomRLndneFCUQg4hFjCHNPWnm
 +Maj++nrqbFp3RC33bSN/t4ujp2c5MsPPc073nIDN+7cROYCF+ZXeP67J/mX
 +x9jw1XD3P22G2nUY0xcI4QlNG0RQiALQqVn4/b1G7bduWXL1j+6as3gtQM9
 jXhsbNzVK8mfDfR3zS6trNZeNTVHv/w7+5Jq701RtY5JGkXnFYOYUmcRETAx
 J8ameOTx/Zyfmeeed97Kzq3rLg1sAJ/74m5mF1b43Y/fQxzHlwoBGM5fmOHe
 +3cTWcNHP3gnXbUKczPnWFwGm4ygpsHIyBAlo4TguTB9jgMHDmUPfnvPJ5tZ
 em+W5xPNVrr8qhmwURkbd4ax4BAbY8ReIloIyiO793PqzBTvecdNfP0/95Jl
 ORoCYg0iwsS5ec5MzHD3O24ljkuYzpamHdoNDQ7w8+++g3/612/wH9/cz+Zr
 djA0uoOrd66nZCx52iRtt8kyz8TEFHuefKa5Z+/+T2F4QFVnUZrGSP6qDoiB
 gIPgsUYLDkhRNUIIfOmBPSwurfLLH3gLlSSi0VVm6twsN+zYgGIwJmLP3uMM
 DfZy8/VbMXEZ08le0NAZFRwiMbt2vpFbbrmNtWtHKCdlgnO0mk0W5hdorq5w
 6tRZHnrk22fGp6f/JimX9jjnxoMP80A7iWP/6qO2KaJsTYFzKSYsVB3f2v0c
 Zycu8Bu/dBflJEJVGRns4bnDpy4tL2MTc5wcm+JXf/HtxUjcqfeqATTw0pHj
 jB06wVJW410f+jD1RoOs3WJ5aZGVhWXmZ+dZXl7iu0dfyp/e9/T+du4/FZfi
 F9M0m3a5W3DOtXc/u8+/ZhVyeUoSlZHOUKUERAPjU7M8feAov/Du26gkMcHn
 iAjXbBjh0Sde4OzkLGvWjPDw7n3cdvO1rBvtA1WCayHBM3V6kqce3M2ZF0/j
 nKN/zToOPv4Y193+ZpbmFjk/Oc30ufN4VWZnxsJT+/c9oC59Pqfr+czpdJZl
 K3mWZ08+dzD80DJqJMLaCOkoa0WLhGefO0Zvd40tG4aBUEyPxjDY32B0uI9v
 P3mI4aEpKuUSd95xI2IU1HNhYpr9jzzD7NlZNm3eTrKlwnePHOK5A3sRE1Pt
 G2V5cZmzExNMz0wy0ufZNBq5p/Llk8FlUy7oVDuPl1rt1O07dEhftw+IQhDA
 55iOLOi958zEBbZtXvN9E4BIIZvc/lPbuP/BZ1hYbvObH30fcRwxNzPH4197
 lAvHTrNt+3X0bhll4swY7Szl3MIszaxN3m6x+/EnSF2TkYGIN908QK3kMPmS
 ElbnDflSyafNh/eOX74uFETFe4e92KjFkLZzmq2U3u5asaC8bEpRlOZqm8ga
 lpZWOPbiGEsTFzj42NOsGxhidHg9x44cp+3alJISY5PjzC4sEkplDs3OcNdt
 OxgdHKWWQDUB65fJW7EadWnQ4CJx/oo6cQgB0QI66gOBYkCLrMHlvkNoRUPA
 Kzx98CWOHJ/gV37uLXz1vt08eu9DVGzEYKOP01MzjE8eZH5pCRtHePEMXrWW
 oZ27CHHCPXffzlWjfVQSS2QVG1YJbQu5IkJ4eawu2wERo1YsYi0uTcE7oihm
 47ohjo9Nccv1m4GC1Hv2vkhSitna1+D+f/g6NsCG4RHmZmY5cPgIEzPzBBxx
 ucy67ZvZvHMLJyZmaNRrvO/uOxjo6yKJhCiKCWEV2gYXRxgToSFoR/C7slmo
 FFUwpQTVQJ6nGFOozD/z1jfwlYee5u8+/zDGQKNWplcsJ/a9xKRXeru7ER/Y
 d/AFTo5PoqL0DHSz7Q3Xsmn7ZqZnFzh7YZ633nE9N+68mko1wRrtqA85PgQ8
 nhAcSLHfqAT1OVeoC1khBI9RKdTlEPB5SrVU4cPvfSNp23H6xCTfeXg/U4ur
 lEol0nbK0cmjnD1/Aa+eNRtH2XHDdnqGB5lbanFufoldOzayY/tGqpUyURwj
 hE5oiyU+5O2im1PAN/jg1RO8d1cGoQCYUGxGYgRjSogxBO8YOz7Fs3sOMze9
 QL2ri+6acOT4S5yfX6QVAtt2rGfXjdsYHe1jYLCfTC23D/fT210jjiOsNRgj
 oK7QTUUhOEKeoc4V3FJFxKrz3nnF62sri6/hgHO002VMnBAlNURg7KUJvvPI
 IZbnVhnuH6CrUmHs1BgnJ6ahUmL7Ldu5btcmBgcaNLoqdPf10N3bS7lSIYqi
 AiYihYTSEbQu7sSFMx5jDeo6qoUqPg9ZgNwFf2UOxFEZU0uQKOHMiXM88chB
 lufaDPT20RioceD5g5yavkD36AB33P0mtl27nka9QqNeoVKOKZdLVLq6SJIy
 xhiMlWJbC47Q0Yu+tw9rRxC2hJChFiQIYkSbmbZVQ+a80yusQsK5yXl2f+sw
 q3NtqkmZvq46R48cZXx2hsGNo7z/nTezbt0w3d0V6vUKldhSKseUSiWsCMYq
 xhQbmqilCLhH1BfTooZLwpcGT8jaeJfh05WLPzdpO3Wrqq6ND5efgT9815s3
 P/TV5zZNnF4gy1IWFpfIWm1WXMaaa0Z5/zt3MDLcT6NRoVqOqVZLlGLBWsWS
 Y7wHA+oU3+6MIR21gYviQGeb1RDQkEEIuLyNT1sEl+PTFJc7v5rny+JC0zvz
 +hn49Cc+snZ5fvlPynHya7PnmvHpM2MsLC5R76+z5Q3r2bJllEajSq2rRFc1
 oVyyGHGYsIK6CB+kWOhVC82q2OxQFCu2o0DIxT5D0ScVXAZB8VkL7zJc1iJ4
 T7vlz6+s+iXFNB3pD3fg7k0jbz8/NfmVer2n6/iJFxkbn1jNrT1dH6yflHpl
 YXxmIb2wspLFic2jyAZr8SISrKCdLUtEOjh/me5T6J1SjB6qF0VdRcwlCghO
 JUgAH0xwTgi5saa998jkC+3MLeFoEr12HxCAuzYMX5UYHq93JUwvrjy66PhW
 K3PN1GVZ6kMzBN92QfOgwXtLeIVeI1FHOuh8n776e6+vqOZ68W9ECAIqHu8F
 Z3KcE/LckEVt8hVYei1tSHYN91ljpC+xsi1XvKrmIYQV7/2Sc37VB5/6oE4V
 P7ZSpDLuOJ6DxiClGFZztNbR8X/Y+1f+b365GuJrZWDnUE9JRBIRSqBWFRdC
 yLz3mXPOOR/09Gr+Iz3kJ3miLHe5gBehVQhVqKqGF+ea/2uN/j91/guTE6cn
 o7p3uAAAAABJRU5ErkJggg==
 ====
